<%- include('partials/_header') %>
<% const dt = DateTime.fromISO(date) %>

<div class="bg-gradient-to-br from-amber-50/30 to-amber-100/30 min-h-screen p-4 flex flex-col gap-2 justify-start">
    <div class="w-full justify-between flex text-amber-500 text-sm">
        <a href="/?date=<%- dt.minus({days: 1}).toFormat("yyyy-MM-dd") %>">Yesterday</a>
        <a href="/?date=<%- dt.toFormat("yyyy-MM-dd") %>">
            <%- dt.toLocaleString(DateTime.DATE_HUGE) %>
        </a>
        <a href="/?date=<%- dt.plus({days: 1}).toFormat("yyyy-MM-dd") %>">Tomorrow</a>
    </div>
    <div class="w-full text-center text-base text-amber-600">
    </div>
    <div class="container max-w-4xl mx-auto p-8">
        <div id="stories" class="flex flex-col gap-12">
            <% stories.forEach(story => { %>
            <%- include('partials/_story', { story }) %>
            <% }) %>
        </div>
    </div>
</div>

<%- include('partials/_footer') %>