<!DOCTYPE html>
<html>
<%
if (!locals.title) locals.title = "News Score";
if (!locals.description) locals.description = "Score the News, Sort the News, Rewrite the Headlines";
%>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/app.css" rel="stylesheet" />

    <title><%= locals.title %></title>
    <meta name="description" content="<%= locals.description %>">

    <meta property="og:url" content="https://newsscore.com">
    <meta property="og:type" content="website">
    <meta property="og:title" content="<%= locals.title %>">
    <meta property="og:description" content="<%= locals.description %>">
    <meta property="og:image" content="https://newsscore.com/social.png">

    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="newsscore.com">
    <meta property="twitter:url" content="https://newsscore.com">
    <meta name="twitter:title" content="<%= locals.title %>">
    <meta name="twitter:description" content="<%= locals.description %>">
    <meta name="twitter:image" content="https://newsscore.com/social.png">
</head>

<body>
    <div class="bg-gradient-to-br from-amber-50/30 to-amber-100/30 min-h-screen p-2 flex flex-col gap-2 justify-between">
        <a href="/" class="w-full justify-between flex text-amber-500 text-sm container max-w-4xl mx-auto my-1">
            <img src="/logo.png" alt="News Score: Score the News, Sort the News, Rewrite the Headlines" class="w-full max-w-[150px] mx-auto" />
        </a>