<% let klass = "" %>
<% if (story.score >= 900) { %>
<% klass = 'headline-900'; %>
<% } else if (story.score >= 800) { %>
<% klass = 'headline-800'; %>
<% } else if (story.score >= 700) { %>
<% klass = 'headline-700'; %>
<% } else if (story.score >= 600) { %>
<% klass = 'headline-600'; %>
<% } %>
<a class="headline <%- klass %>" href="<%- story.url %>" target="_blank">
    <span class="score"><%- (story.score / 100).toFixed(1) %></span>
    <span class="title">
        <%- story.headline || story.title %>
    </span>
    <span class="source text-base italic text-gray-400"><%- story.source %></span>
</a>